<<<<<<< HEAD
.suggestions-container{
  width: 100%;
  height: 80vh;
  margin-left: 10px;
  overflow-x: auto;
  background-color: rgba(253, 253, 253, 0.82);
  border-radius: 20px;
  padding: 5px;
  padding-top: 10px;
=======
/* Suggestion.css */

/* Style for Click Here button */
.Click-here {
  cursor: pointer;
  background-color: #948979;
  color: #153448;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  margin: 20px auto;
>>>>>>> aa6edcb (frontent improvements)
}
.suggestions-container h2{
  color: #153448;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.suggestions-container .suggestions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}
