.content {
  width: 350px;
  background-color: #3c5b6f;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  color: #dfbf9f;
}

h3,
p,
span {
  margin: 0;
  font-weight: normal;
}

.contactList {
  margin-bottom: 25px;
  color: #dfbf9f; /* Adjusted text color */
}

.details {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border: 1px solid #153448; /* Adjusted border color */
}

.details h3:nth-child(2) {
  background-color: #948979;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
}

.details h3:nth-child(2):hover {
  background-color: #7b6a61; /* Adjusted hover color */
}

.details h3:nth-child(1) span {
  font-size: 12px;
}

.details h3:nth-child(1) {
  cursor: pointer;
}

.details h3:nth-child(1):hover {
  color: #dfbf9f; /* Adjusted hover color */
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom h3 {
  color: #666;
  cursor: pointer;
}

.bottom h3:hover {
  color: #dfbf9f; /* Adjusted hover color */
}

.content {
  max-height: 230px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}