* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;

  flex-direction: column;
}

.phone {
  background-color: #dedede;
  width: 411px;
  padding: 10px;
  border-radius: 15px;
}

.info {
  display: flex;
  justify-content: space-evenly;
}
.info i {
  font-size: 3.5rem;
}

p {
  margin-top: 0.8rem;
}

h1 {
  font-size: 3.5rem;
}

.options {
  margin-top: 1rem;
  width: 100%;
}

.options i {
  margin: 2rem 2rem 0;
  margin-top: 0;
  padding: 1rem;
  font-size: 1.2rem;
}

.options span {
  font-weight: 100;
  padding: 0 3.13rem;
}

.options .text1 {
  display: flex;
}

.cut {
  display: flex;
  justify-content: center;

  height: 15vh;
}

.decline {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: 50%;
  transform: rotate(225deg);
}

.homescreen {
  display: flex;
  align-items: center;
}
